<div class="shell">
			<div class="col">
				<h3>Lorem Ipsum Dolo</h3>
				<p><strong>Etiam non velit id purus</strong> egestas vestibulum. Aliquam elementum facilisis felis, id sodales lorem eleifend sit amet.<a title="Duis Eget" href="#"><em>Duis eget ipsum ipsum.&nbsp;</em></a>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus at magna elit. Sed at mauris tellus.</p>
			</div>
			<div class="col">
				<h3>Etiam Non</h3>
				<ul>
					<li><a title="Duis" href="#">Duis condimentum lacus vel</a></li>
					<li><a title="Duis" href="#">Duis ultrices molestie nisl et tempor</a></li>
					<li><a title="Phasellus" href="#">Phasellus nec quam</a></li>
					<li><a title="Aenean" href="#">Aenean arcu erat</a></li>
					<li class="last"><a title="Suspendisse" href="#">Suspendisse vitae purus felis</a></li>					
				</ul>
			</div>
			<div class="col last">
				<h3>Curabitur Feugia</h3>
				<ul>
					<li><a title="Duis" href="#">Duis condimentum lacus vel</a></li>
					<li><a title="Duis" href="#">Duis ultrices molestie nisl et tempor</a></li>
					<li><a title="Phasellus" href="#">Phasellus nec quam</a></li>
					<li><a title="Aenean" href="#">Aenean arcu erat</a></li>
					<li class="last"><a title="Suspendisse" href="#">Suspendisse vitae purus felis</a></li>					
				</ul>
			</div>
			<div class="cl"></div>
		</div>
	</div>
	<!-- END Footer -->
	<!-- Bottom Navigation -->
	<div id="bottom-navigation">
		<div class="shell">
			<span class="author"><a href="http://css-free-templates.com/">Design by: Free CSS Templates</a></span>
			<p><a title="Home" href="#">Home</a><span>|</span><a title="Service" href="#">Service</a><span>|</span><a title="About Us" href="#">About Us</a><span>|</span><a title="Gallery" href="#">Gallery</a><span>|</span><a title="Testimonials" href="#">Testimonials</a><span>|</span><a title="Contact" href="#">Contact</a></p>
		</div>