<ul>
<li><a title="Home" href="#"><span> Home</span></a></li>
<li><a title="Gallery" href="#"><span>Gallery</span></a></li>
<li><a title="Gallery" href="#"><span>FAQ</span></a></li>
<li><a title="About Us" href="#"><span>Chat</span></a></li>
<li><a title="Gallery" href="#">LogIn</a></li>
<li><a title="Testimonials" href="#"><span>Shop</span></a></li>
<li><a title="Contact" href="#"><span>Contact</span></a></li>				
</ul>