<h3>Tittle Here Again</h3>
					<div class="block-text">
						<a class="title" title="Proin lobortis odio lore" href="#">Proin lobortis odio lore</a>
						<span class="date">June 05, 2011 with</span>
						<div class="cl"></div>
						<p>Cenas malesuada, urna sit amet feugiat aliquam, mauris velit mattis odio. Vehicula neque massa quis dolor. Praesent vel pharetra nisl.</p>
					</div>
					<div class="block-text">
						<a class="title" title="Proin lobortis odio lore" href="#">Proin lobortis odio lore</a>
						<span class="date">June 05, 2011 with</span>
						<div class="cl"></div>
						<p>Cenas malesuada, urna sit amet feugiat aliquam, mauris velit mattis odio. Vehicula neque massa quis dolor. Praesent vel pharetra nisl.</p>
					</div>
					<div class="block-text">
						<a class="title" title="Proin lobortis odio lore" href="#">Proin lobortis odio lore</a>
						<span class="date">June 05, 2011 with</span>
						<div class="cl"></div>
						<p>Cenas malesuada, urna sit amet feugiat aliquam, mauris velit mattis odio. Vehicula neque massa quis dolor. Praesent vel pharetra nisl.</p>
					</div>
					<div class="block-text">
						<a class="title" title="Proin lobortis odio lore" href="#">Proin lobortis odio lore</a>
						<span class="date">June 05, 2011 with</span>
						<div class="cl"></div>
						<p>Cenas malesuada, urna sit amet feugiat aliquam, mauris velit mattis odio. Vehicula neque massa quis dolor. Praesent vel pharetra nisl.</p>
					</div>
					<span class="read-more"><a title="read more" href="#">Read More</a></span>